services:
  server:
    build:
      context: server
    restart: always
    privileged: true
    volumes:
      - /etc/NetworkManager:/etc/NetworkManager
      - /run/NetworkManager:/run/NetworkManager
      - /run/dbus/system_bus_socket:/run/dbus/system_bus_socket
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
    ports:
      - 8000:8000
    networks:
      - backnet
      - frontnet

  proxy:
    build: proxy
    restart: always
    ports:
      - 8080:8080
    depends_on: 
      - server
    networks:
      - frontnet

networks:
  backnet:
  frontnet:
